/* ================================
  🎨 Global Styles
================================ */

/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* ================================
  🌍 CSS Variables
================================ */
:root {
  /* Light Mode Colors */
  --primary-blue: #0079ff;
  --gray-dark: #697c9a;
  --gray-medium: #4b6a9b;
  --gray-darkest: #2b3442;
  --bg-light: #f6f8ff;
  --bg-white: #fefefe;

  /* Dark Mode Colors */
  --dark-primary-blue: #0079ff;
  --dark-white: #ffffff;
  --dark-bg-dark: #141d2f;
  --dark-gray-dark: #1e2a47;

  /* Typography */
  --font-family: "Space Mono", monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* ================================
  🌍 Global Reset
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================================
  🌞 Light Mode
================================ */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-darkest);
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 25px;
  font-weight: var(--font-weight-regular);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* ================================
  🌙 Dark Mode
================================ */
.dark {
  background-color: var(--dark-bg-dark);
  color: var(--dark-white);
}

/* ================================
  🎨 Theme Toggle Styles
================================ */
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78px;
  gap: 16px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.theme-label {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

/* ================================
  🖋️ Typography
================================ */
h1 {
  font-size: 26px;
  line-height: 38px;
  font-weight: var(--font-weight-bold);
  color: var(--gray-darkest);
}

.dark h1 {
  color: var(--dark-white);
}

h2 {
  font-size: 22px;
  line-height: 33px;
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-regular);
}

h4 {
  font-size: 13px;
  line-height: 20px;
  font-weight: var(--font-weight-regular);
}

/* ================================
  Hero
================================ */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 327px;
  height: 38px;
  margin: auto;
  margin-bottom: 36px;
}

/* Version Tablet */
@media (min-width: 768px) {
  .hero {
    max-width: 573px;
  }
}

/* Version Desktop */
@media (min-width: 1025px) {
  .hero {
    max-width: 730px;
  }
}

/* ================================
  Search Bar Styles
================================ */
.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--bg-white);
  width: 327px;
  height: 60px;
  padding: 0 0.5rem;
  border-radius: 15px;
  gap: 1rem;
  margin: auto;
  margin-bottom: 24px;
}

.dark .search-bar {
  background-color: var(--dark-gray-dark);
}

.search-icon {
  color: var(--gray-dark);
  width: 20px;
  height: 20px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 13px;
  font-weight: var(--font-weight-regular);
}

.search-button {
  background-color: var(--primary-blue);
  color: var(--dark-white);
  border: none;
  width: 84px;
  height: 46px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  transition: 0.3s;
}

.search-button:hover {
  background-color: #60abff;
}

.error-message {
  color: #f74646;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  margin-left: 10px;
}

/* Version Tablet */
@media (min-width: 768px) {
  .search-bar {
    width: 573px;
  }
  .search-input {
    font-size: 18px;
  }
  .search-button {
    width: 106px;
    height: 50px;
    font-size: 16px;
  }
  .search-icon {
    width: 24px;
    height: 24px;
  }
}

/* Version Desktop */
@media (min-width: 1025px) {
  .search-bar {
    width: 730px;
  }
  .search-input {
    font-size: 18px;
  }
  .search-button {
    width: 106px;
    height: 50px;
    font-size: 16px;
  }
  .search-icon {
    width: 24px;
    height: 24px;
  }
}

/* ================================
  User Card Styles
================================ */
.user-card {
  background-color: var(--bg-white);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 327px;
  /* height: 517px;
  margin: auto; */
  height: auto;
  margin: auto;
}

.dark .user-card {
  background-color: var(--dark-gray-dark);
}

/* Header */
.user-header {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-direction: column; /* Mobile : Stacké */
  text-align: center; /* Centrage du texte */
}

.user-avatar {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    font-size: 16px;
  }
}

.user-join {
  position: absolute;
  margin-left: 90px;
  margin-top: 64px;
}

.user-join p {
  margin-top: 0.5rem;
}

.username {
  color: var(--primary-blue);
  font-size: 16px;
}

.joined {
  color: var(--gray-dark);
  font-size: 14px;
}

.dark .joined {
  color: var(--dark-white);
}

/* User Content */
.user-content {
  margin-top: 2rem;
}

/* Bio */
.bio {
  margin-top: 3rem;
  font-size: 15px;
  color: var(--gray-darkest);
}

.dark .bio {
  color: var(--dark-white);
}

.bio.empty {
  opacity: 0.5;
}

/* Statistics */
.stats {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-light);
  height: 85px;
  border-radius: 10px;
  padding: 1rem;
  margin: 1.5rem 0;
}

.dark .stats {
  background-color: var(--dark-bg-dark);
}

.details-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.stats h4 {
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  color: var(--gray-darkest);
}

.dark .stats h4 {
  color: var(--dark-white);
}

.stats p {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  color: var(--gray-darkest);
}

.dark .stats p {
  color: var(--dark-white);
}

/* User Details */
.user-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* Version Tablet */
@media (min-width: 768px) {
  .user-card {
    width: 573px;
    height: 481px;
  }
  .user-header {
    width: 334px;
    height: 117px;

    .user-avatar {
      .avatar {
        width: 117px;
        height: 117px;
      }
    }
    .user-join {
      margin-left: 140px;
    }
  }

  .stats {
    width: 493px;
    height: 85px;
  }

  .user-details {
    grid-template-columns: 1fr 1fr;
  }
  .bio {
    margin-top: 24px;
  }
  .details-stats {
    align-items: flex-start;
    gap: 1px;
  }
}

/* Version Desktop */
@media (min-width: 1025px) {
  .user-card {
    width: 730px;
    height: 444px;
  }
  .user-header {
    width: none;
    height: none;

    .user-avatar {
      .avatar {
        width: 117px;
        height: 117px;
      }
    }
    .user-join {
      margin-left: 140px;

      p {
        margin-top: -5.5rem;
        margin-left: 310px;
      }
    }
  }

  .user-join {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .stats {
    width: 480px;
    height: 85px;
  }
  .user-content {
    margin-left: 8rem;
  }
  .user-details {
    grid-template-columns: 1fr 1fr;
  }
  .details-stats {
    align-items: flex-start;
    gap: 1px;
  }
}

/* ================================
  🌍 Icons and Data Availability
================================ */
.not-available .icon {
  opacity: 0.5;
}

.not-available p {
  opacity: 0.5;
}

/* User Detail Item */
.detail-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-medium);
}

.dark .detail-item {
  color: var(--dark-white);
}

.user-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-medium);
  text-decoration: none;
  font-size: 15px;
}

.dark .user-link {
  color: var(--dark-white);
}

.user-link:hover {
  text-decoration: underline;
}

/* ================================
  🌍 Tooltip Styles
================================ */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Le texte du tooltip (caché par défaut) */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: var(--gray-dark);
  color: var(--dark-white);
  text-align: center;
  padding: 6px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 130%; /* Place la bulle au-dessus de la barre */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 100;
}

/* Tooltip visible au survol */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Ajustement en dark mode */
.dark .tooltip .tooltip-text {
  background-color: var(--dark-gray-dark);
  color: var(--dark-white);
}
